# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Coverage
coverage/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Build
dist/
build/

# Mongo memory server cache
.mongodb-memory-server
